# Dependencies
node_modules/

# Runtime binaries
bin/cloudflared

# Database & Runtime logs
data/
!data/.gitkeep

# User Cloud Storage Files (keep folder structure)
storage_data/*
!storage_data/.gitkeep
!storage_data/Database_Backups/
!storage_data/Database_Backups/.gitkeep
!storage_data/Documents/
!storage_data/Documents/.gitkeep
!storage_data/Media/
!storage_data/Media/.gitkeep

# Environment variables
.env
.DS_Store
*.swp
